[Unit]
Description=Miniflux Feed Reader
After=network.target postgresql.service

[Service]
Type=simple
User=miniflux
ExecStart=/usr/local/bin/miniflux -c /etc/miniflux.conf
Restart=always
RuntimeDirectory=miniflux

[Install]
WantedBy=multi-user.target
